DB_HOST=CHANGE_ME
DB_PORT=5432
DB_NAME=CHANGE_ME
DB_USERNAME=CHANGE_ME
DB_PASSWORD=CHANGE_ME

APP_ADMIN_NAME=CHANGE_ME
APP_ADMIN_EMAIL=CHANGE_ME
APP_ADMIN_PASSWORD=CHANGE_ME

APP_SECURITY_JWT_SECRET=CHANGE_ME
APP_SECURITY_JWT_TTL_MINUTES=30
SERVER_PORT=8080
