DB_HOST=YOUR_POSTGRES_HOST
DB_PORT=YOUR_POSTGRES_PORT
DB_NAME=YOUR_POSTGRES_DATABASE
DB_USERNAME=YOUR_POSTGRES_USERNAME
DB_PASSWORD=YOUR_POSTGRES_PASSWORD

APP_ADMIN_NAME=YOUR_INITIAL_ADMIN_NAME
APP_ADMIN_EMAIL=YOUR_INITIAL_ADMIN_EMAIL
APP_ADMIN_PASSWORD=YOUR_INITIAL_ADMIN_PASSWORD

APP_SECURITY_JWT_SECRET=GENERATE_A_SECURE_RANDOM_JWT_SECRET
APP_SECURITY_JWT_TTL_MINUTES=YOUR_JWT_TTL_IN_MINUTES
SERVER_PORT=YOUR_BACKEND_PORT
