DB_HOST=localhost
DB_PORT=5432
DB_NAME=movs_app_db
DB_USERNAME=brigitte
DB_PASSWORD=CHANGE_ME

APP_ADMIN_NAME=Brigitte
APP_ADMIN_EMAIL=brigitte@gmail.com
APP_ADMIN_PASSWORD=CHANGE_ME

APP_SECURITY_JWT_SECRET=CHANGE_ME
APP_SECURITY_JWT_TTL_MINUTES=30
SERVER_PORT=8080
